.spots-container-spotlist {
  /* border: 5px solid orange; */
  margin-left: 150px;
  display: flex;

  flex-wrap: wrap;
  justify-content: flex-start;
  /* background-color: yellow; */
  gap: 10px;
}

.spot-container-spotlist {
  width: 300px;
  height: 280px;
  border: 1px solid lightgrey;
  margin-bottom: 10px;
  display: flex;
  border-radius: 5px;
  padding: 5px;
}

.spot-image-container-spotlist img {
  width: 300px;
  height: 225px;
}

.details-spotlist {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}
