.spotDetails-container {
  margin: 10px auto 0;
  padding: 100px;
}

.spotDetails-body {
  margin-top: 10px;
  gap: 20px;
  display: flex;

  padding: 20px;
}

.owner-description {
  gap: 5px;
  flex: 2;
}

.parent-images {
  display: flex;
  width: 1200;
  height: 600px;
  border: 1px solid lightgray;
  /* background-color: pink; */
  padding: 1px;
  gap: 0.03em;
  justify-content: space-evenly;
  border-radius: 5px;
}

.child {
  /* background-color: yellow; */
  /* border: 5px solid red; */
  width: 900px;
}

.child img {
  width: 100%;
  height: 100%;
}

.child.small-images {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.child.large-image {
  padding: 2px;
}
.smallbox {
  padding: 2px;

  width: 300px;
  flex-basis: 50%;
  height: 50%;
  box-sizing: border-box;
}

h2 {
  text-align: left;
}

.call-out-info-box {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
}

.reserve-button {
  background-color: salmon;
  width: 300px;
  align-self: center;
  font-size: 16px;
  height: 40px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left,
.right,
.bottom {
  padding: 10px;
}

.bottom {
  align-self: center;
}

.reserve-button:hover {
  background-color: lightsalmon;
}

.spot-details-reviews {
  padding: 20px;
}

.spotDetails-body {
  border-bottom: 1px solid #ccc;
  border-bottom-width: 2px;
}
